In [1]:
import surgeo
import pandas as pd
import numpy as np

In [2]:
surgeo.VERSION

'2010.1.1'

In [3]:
# What about mismatched lengths?

In [4]:
g = surgeo.GeocodeModel()
s = surgeo.SurnameModel()
sg = surgeo.SurgeoModel()

In [5]:
surnames = pd.Series([
    'JONES',
    'DAVIDSON',
    12345,
    np.NaN
])

In [11]:
zips = pd.Series([
    63144,
    '63110',
    np.NaN,
    63144
])

In [12]:
g.get_probabilities(zips)

   zcta5   white   black     api  native  multiple  hispanic
0  63144  0.8611  0.0289  0.0629  0.0012    0.0169    0.0289
1  63110  0.5184  0.4015  0.0318  0.0018    0.0243    0.0222
2    NaN     NaN     NaN     NaN     NaN       NaN       NaN
3  63144  0.8611  0.0289  0.0629  0.0012    0.0169    0.0289

In [13]:
s.get_probabilities(surnames)

       name   white   black     api  native  multiple  hispanic
0     JONES  0.5519  0.3848  0.0044  0.0100    0.0261    0.0229
1  DAVIDSON  0.8438  0.1008  0.0065  0.0065    0.0188    0.0235
2               NaN     NaN     NaN     NaN       NaN       NaN
3       NAN  0.2678  0.0097  0.6714  0.0097    0.0272    0.0142

In [15]:
sg.get_probabilities(surnames, zips, base_data=True)

,zcta5,name,white,black,api,native,multiple,hispanic,white_sur,black_sur,api_sur,native_sur,multiple_sur,hispanic_sur,white_geo,black_geo,api_geo,native_geo,multiple_geo,hispanic_geo
0,63144,JONES,0.974347,0.022800,0.000567,0.000025,0.000904,0.001357,0.5519,0.3848,0.0044,0.0100,0.0261,0.0229,0.8611,0.0289,0.0629,0.0012,0.0169,0.0289
1,63110,DAVIDSON,0.913027,0.084474,0.000431,0.000024,0.000954,0.001089,0.8438,0.1008,0.0065,0.0065,0.0188,0.0235,0.5184,0.4015,0.0318,0.0018,0.0243,0.0222
2,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,63144,NAN,0.841629,0.001023,0.154130,0.000042,0.001678,0.001498,0.2678,0.0097,0.6714,0.0097,0.0272,0.0142,0.8611,0.0289,0.0629,0.0012,0.0169,0.0289