In [14]:
import pandas as pd

import surgeo

# Basic models

## Surname

In [15]:
sur_model = surgeo.SurnameModel()
sur_model.get_probabilities(pd.Series(['Garcia']))

     name   white   black     api  native  multiple  hispanic
0  GARCIA  0.0538  0.0045  0.0141  0.0047    0.0026    0.9203

## Geocode

In [16]:
geo_model = surgeo.GeocodeModel()
geo_model.get_probabilities(pd.Series(['63144']))

   zcta5     white     black       api    native  multiple  hispanic
0  63144  0.861114  0.028935  0.062862  0.001248  0.016907  0.028935

## Surgeo

In [17]:
surgeo_model = surgeo.SurgeoModel()
surgeo_model.get_probabilities(
    pd.Series(['Garcia']),
    pd.Series(['63144'])
)

   zcta5    name     white     black      api    native  multiple  hispanic
0  63144  GARCIA  0.294432  0.004318  0.07408  0.003267  0.009207  0.614696