In [1]:
import pathlib
import sys

import numpy as np
import pandas as pd

In [2]:
current_directory = pathlib.Path().cwd()
project_directory = current_directory.parents[0]
sys.path.append(str(project_directory.resolve()))

In [3]:
import surgeo
surgeo.VERSION

'1.1.0'

In [4]:
fsg = surgeo.BIFSGModel()
f = surgeo.FirstNameModel()
g = surgeo.GeocodeModel()
s = surgeo.SurnameModel()
sg = surgeo.SurgeoModel()

In [5]:
first_names = pd.Series([
    'HECTOR',
    'PHILLIP',
    'JANICE'
])

In [6]:
surnames = pd.Series([
    'DIAZ',
    'JOHNSON',
    'WASHINGTON',
])

In [7]:
zctas = pd.Series([
    '65201',
    '63144',
    '63110',
])

In [8]:
fsg.get_probabilities(first_names, surnames, zctas)

,zcta5,first_name,surname,white,black,api,native,multiple,hispanic
0,65201,HECTOR,DIAZ,0.003834,0.000225,0.000688,0.000000,0.000000,0.995253
1,63144,PHILLIP,JOHNSON,0.923162,0.050272,0.001017,0.001100,0.023515,0.000935
2,63110,JANICE,WASHINGTON,0.017885,0.968260,0.000059,0.000356,0.013339,0.000101

In [9]:
f.get_probabilities(first_names)

      name   white   black     api  native  multiple  hispanic
0   HECTOR  0.0550  0.0045  0.0135  0.0000    0.0000    0.9270
1  PHILLIP  0.8961  0.0397  0.0301  0.0020    0.0023    0.0298
2   JANICE  0.9084  0.0602  0.0171  0.0017    0.0017    0.0108

In [10]:
s.get_probabilities(surnames)

         name   white   black     api  native  multiple  hispanic
0        DIAZ  0.0519  0.0065  0.0119  0.0016    0.0025    0.9256
1     JOHNSON  0.5897  0.3463  0.0054  0.0094    0.0256    0.0236
2  WASHINGTON  0.0517  0.8753  0.0030  0.0068    0.0378    0.0254

In [11]:
g.get_probabilities(zctas)

   zcta5     white     black       api    native  multiple  hispanic
0  65201  0.815527  0.074888  0.053001  0.002288  0.023209  0.031089
1  63144  0.861114  0.028935  0.062862  0.001248  0.016907  0.028935
2  63110  0.518377  0.401548  0.031772  0.001817  0.024269  0.022217

In [12]:
sg.get_probabilities(surnames, zctas)

,zcta5,name,white,black,api,native,multiple,hispanic
0,65201,DIAZ,0.264680,0.015885,0.051868,0.002006,0.011957,0.653604
1,63144,JOHNSON,0.872022,0.089793,0.007666,0.001766,0.024494,0.004259
2,63110,WASHINGTON,0.014138,0.967599,0.000661,0.000571,0.015949,0.001081