In [1]:
import pathlib
import sys

import numpy as np
import pandas as pd

In [2]:
current_directory = pathlib.Path().cwd()
project_directory = current_directory.parents[0]
sys.path.append(str(project_directory.resolve()))

In [3]:
import surgeo
surgeo.VERSION

'2010.1.1'

In [4]:
g = surgeo.GeocodeModel()
s = surgeo.SurnameModel()
sg = surgeo.SurgeoModel()

In [18]:
surnames = pd.Series([
    'WASHINGTON',
    'DAVIDSON',
    12345,
    np.NaN
])

In [21]:
zips = pd.Series([
    '63110',
    99602,
    np.NaN,
    63144
])

In [22]:
s.get_probabilities(surnames)

         name   white   black     api  native  multiple  hispanic
0  WASHINGTON  0.0517  0.8753  0.0030  0.0068    0.0378    0.0254
1    DAVIDSON  0.8438  0.1008  0.0065  0.0065    0.0188    0.0235
2                 NaN     NaN     NaN     NaN       NaN       NaN
3                 NaN     NaN     NaN     NaN       NaN       NaN

In [23]:
g.get_probabilities(zips)

   zcta5     white     black       api    native  multiple  hispanic
0  63110  0.518377  0.401548  0.031772  0.001817  0.024269  0.022217
1  99602  0.044944  0.000000  0.000000  0.915730  0.039326  0.000000
2    NaN       NaN       NaN       NaN       NaN       NaN       NaN
3  63144  0.861114  0.028935  0.062862  0.001248  0.016907  0.028935

In [24]:
sg.get_probabilities(surnames, zips)

   zcta5        name   white   black     api  native  multiple  hispanic
0  63110  WASHINGTON  0.0141  0.9676  0.0007  0.0006    0.0159    0.0011
1  99602    DAVIDSON  0.0649  0.0000  0.0000  0.8933    0.0417    0.0000
2    NaN                 NaN     NaN     NaN     NaN       NaN       NaN
3  63144                 NaN     NaN     NaN     NaN       NaN       NaN

$
q(i \mid j,k) = \frac
    {\large{u(i,j,k)}}
    {\large{u(1,j,k) \; + \; u(2,j,k) \; + \; u(3,j,k) \; + \; u(4,j,k) \; + \; u(5,j,k) \; + \; u(6,j,k)}} \\[25px]
\text{Where:} \\[25px]
\hspace{25px} u(i,j,k) = P(i \mid j) \times r(k \mid i)\\[25px]
\text{And where:} \\[25px]
    \hspace{25px}\text{\( P(i \mid j) \) is the probability of a selected race given surname} \\
    \hspace{25px}\text{\( r(k \mid i) \) is the probability of a selected ZCTA of residence given race} \\
    \hspace{25px}\text{\( k \) is Census Block} \\
    \hspace{25px}\text{\( j \) is Surname} \\
    \hspace{25px}\text{\( i \) is Race} \\
        \hspace{50px}\text{1 = Hispanic} \\
        \hspace{50px}\text{2 = White} \\
        \hspace{50px}\text{3 = Black} \\
        \hspace{50px}\text{4 = Asian or Pacific Islander} \\
        \hspace{50px}\text{5 = American Indian / Alaska Native} \\
        \hspace{50px}\text{6 = Multiracial} \\
$

    Where k is census block
    Where j is surname
    Where i is race (1 = Hispanic, 
                     2 = White, 
                     3 = Black, 
                     4 = Asian or Pacific Islander, 
                     5 = American Indian / Alaska Native, 
                     6 = Multiracial)

    Where u(i,j,k) = p(i|j) * r(k|i):

                                          u(i,j,k)
    q(i|j,k) = ---------------------------------------------------------------
               u(1,j,k) + u(2,j,k) + u(3,j,k) + u(4,j,k) + u(5,j,k) + u(6,j,k)